.form-body{
    border: 1px solid black;
    width: 70%;
    /* height: 100%; */
    margin: auto;
    background-color: rgb(243, 152, 6);
    padding: 20px;
}

#child-max-width{
    max-width: 100%;
}

.color-white{
    color: whitesmoke;
}
.color-dark{
    color: black;
}